apiVersion: v1
kind: Service
metadata:
  name: flask-app-service
  namespace: flask-application
  labels:
    app: flask-app
spec:
  type: ClusterIP
  selector:
    app: flask-app
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  sessionAffinity: ClientIP
